body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0f7fa, #b2ebf2);
    color: #007A33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007A33;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f26;
}

#feedback {
    margin-top: 20px;
    color: green;
}

.hidden {
    display: none;
}

.logo {
    height: 30px; /* Ajuste a altura da imagem conforme necessário */
    margin-right: 1px; /* Espaço entre a imagem e o texto */
    max-height: 30px;
}


